{% extends 'base.html' %}

{% block content %}
<!-- Portfolio Summary Cards -->
<div class="row">
    <div class="col-md-6 mb-4">
      <div class="h-100 p-3 text-bg-dark rounded-3">
        <h2>Portfolio Stats</h2>
        <p>Value, Number of Trades, Win Rate, Short vs Long</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="h-100 p-3 bg-light border rounded-3">
        <h2>Open Positions Pie Chart</h2>
        <p></p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
</div>

<!-- Portfolio Value Graph-->
<div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Portfolio Value Chart</h1>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

<!-- Positions Table Gridjs-->
<div class="p-3 mb-4 bg-light border rounded-3">
  <h3 class="display-5 fw-bold">Positions</h3>
  Total Return = {{ pnl }}
  <div id="table"></div>
<!--    <div class="container-fluid py-5 ">-->
<!--      <h3 class="display-5 fw-bold">Positions</h3>-->
<!--    </div>-->
</div>

<!-- Trades Table -->
<div class="p-3 bg-light border rounded-3">
    <div class="container-fluid py-5 ">
      <h3 class="display-5 fw-bold">Trades</h3>

      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Symbol</th>
              <th scope="col">Price</th>
              <th scope="col">Position Size</th>
              <th scope="col">Value</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for trade in trades %}
              <tr>
                <td scope="row">{{ trade._id }}</td>
                <td>{{ trade.date }}</td>
                <td>{{ trade.type }}</td>
                <td>{{ trade.symbol }}</td>
                <td>{{ "${:,.2f}".format(trade.price) }}</td>
                <td>{{ trade.qty }}</td>
                <td>{{ trade.value }}</td>
<!--<td>-->
<!--  <a href="#tradeimg{{ trade._id }}" data-bs-target="#tradeimg{{ trade._id }}" data-bs-toggle="modal"> -->
<!--    <img class="img" src="{{ trade.img }}" width="50"> -->
<!--  </a>-->
<!--</td>-->
                <td>
                  <a href="/">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Trade image modal -->
<!--  {% for trade in trades %}-->
<!--    <div class="modal" id="tradeimg{{trade._id}}" aria-hidden="true">-->
<!--      <div class="modal-dialog modal-xl">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h3 class="modal-title fs-5">Setup for Trade {{trade._id}}</h3>-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--          </div>-->
<!--          <div class="modal-body text-center">-->
<!--              <img class="img-fluid" src="{{ trade.img }}" data-bs-toggle="modal">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  {% endfor %}-->
{% endblock %}

{% block javascript %}
<!--  {{ super() }}-->
  <script>
    new gridjs.Grid({
    columns: [
      { id: 'status', name: 'Status' },
      { id: 'date_open', name: 'Date' },
      { id: 'symbol', name: 'Symbol' },
      { id: 'size', name: 'Size' },
      { id: 'qty', name: 'Quantity' },
      { id: 'entry', name: 'Entry' },
      { id: 'exit', name: 'Exit' },
      { id: 'pnl', name: 'Return' },
      { id: 'direction', name: 'Side' },
      { id: 'notes', name: 'Notes' },
      { id: 'img', name: 'Image' }
    ],
    data: [
      {% for position in positions %}
        {
          status: '{{ position.status }}',
          date_open: '{{ position.date_open }}',
          symbol: '{{ position.symbol }}',
          size: '{{ position.size|round(6) }}',
          qty: '{{ position.qty|round(6) }}',
          entry: '{{ "${:,.3f}".format(position.entry) }}',
          exit: '{{ "${:,.3f}".format(position.exit) }}',
          pnl: '{{ "${:,.3f}".format(position.pnl) }}',
          direction: '{{ position.direction }}',
          notes: '{{ position.notes }}',
          img: '{{ position.img }}'
        },
      {% endfor %}
    ],
    search: true,
    sort: true,
    pagination: true,

    className: {
      table: 'table table-striped table-hover'
    }
    }).render(document.getElementById('table'));
  </script>
{% endblock %}



