{% extends 'base.html' %}


{% block content %}
 <div class="mx-auto" style="width: 400px">
     <form method="post" enctype="multipart/form-data">
         <label for="formFile" class="form-label">Select your csv file:</label>
         <input class="form-control" type="file" name="formFile" accept=".csv">
         <input type="text" name="content" placeholder="leave blank">
         <br>
         <button type="submit" class="btn btn-primary">Import CSV</button>
     </form>
 </div>
{% endblock %}

